@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* new */
.layout {
    /* margin-top: 200px; */
    height: 100vh;
    width: 100vw;
    /* padding-left: 20px;
    padding-right: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease-out;
    /* background-color: green; */
}

.mainLayout{
    width: 100%;
    display: flex;
    min-height: 400px;
    flex-direction: row;    
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    background-color: #3F4E4F;
    border-radius: 20px;
}

.introImg{
    max-width: 500px; 
    transition: transform 2s ease-out;
    border-radius: 10px;
    overflow: hidden;
}

.introSection {
    transition: transform 2s ease-out; 
}

.introTitleFonts{
    font-family: bold;
    color: #DCD7C9;
    font-size: xx-large;
}

.introDescFonts{
    font-family: regular;
    color: #DCD7C9;
    font-size: large;
    text-align: justify;
}

/* desc start */
.layout.descLayout{
    /* overflow: hidden; */
    /* margin-top: 50px;
    margin-bottom: 20px; */
}

.mainLayout.descMainLayout{
    overflow: hidden;
    padding-left: 50px;
    padding-right: 50px;
}

.introImg.descImg{
    max-width: 500px; 
}

/* desc finish */

@media (max-width: 1200px) {
    /* new */
    .mainLayout{
       padding-left: 20px;
       padding-right: 20px;
    }
    /* .mainLayout.descMainLayout{
        padding-left: 20px;
        padding-right: 20px;
    } */
}


@media (max-width: 900px) {
    /* new */
    /* .layout{
        margin-top: 100px;
    }
    .layout.descLayout{
        margin-top: 100px;
    } */
    .mainLayout{
        flex-direction: column; 
        background-color: #2C3639;
        border-radius: 10px;

    }
    .mainLayout.descMainLayout{
        padding-top: 50px;
    }
    .introImg{
        max-width: 300px;
    }
    .introImg.descImg{
        max-width: 300px;
    }
    .introTitleFonts{
        font-size: larger;
    }
    .introDescFonts{
        font-size:medium;
    }
}




