.detailLayout{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.detailSection{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    height: 100%;
}
.logoContainer{
    background-color: whitesmoke;
    border-radius: 10px;   
    padding: 10px; 
}
.logoContainer img{
    max-width: 300px;
}
.linksLogo{
    max-width: 50px;
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
}
.divider{
    height: 300px;
    border-width: 1px;
}

.detailFontsTitle{
    font-family: bold;
    color: #DCD7C9;
    font-size: x-large;
}
.detailFontsTitle.firstSection{
    font-size: xx-large;
}
.detailFontsTitle.titleSection{
    z-index: 2;
    position: absolute;
    padding-top: 100px;
    font-size: x-large;
    left: 70px;
}

.detailFontsDesc{
    font-family: regular;
    color: #DCD7C9;
    font-size: large;
    text-align: justify;
}


@media (max-width: 768px){
    .detailSection{
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
    }
    .divider{
       display: none;
    }
    .detailFontsTitle{
        text-align: center;
    }
    .detailFontsTitle.titleSection{
       display: none;
    }
    .detailFontsDesc{
       font-size: medium;
    }
    .logoContainer img{
        max-width: 250px;
    }
}

@media (max-width: 425px){
    .detailLayout{
        padding-top: 20px;
        height: auto;
        margin-bottom: 50px;
    }
    .detailSection{
        gap: 30px;
    }
    .detailFontsTitle{
        font-size: large;
    }
    .detailFontsTitle.firstSection{
        font-size: larger;
        margin-top: 10px;
    }
    .detailFontsDesc{
        font-size:small;
    }
    .logoContainer img{
        max-width: 200px;
    }
}