@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  height: auto;
  width: auto;
  /* background: linear-gradient(135deg, rgba(245,245,245,1) 0%, rgba(238,238,238,1) 100%); */
  /* background: linear-gradient(135deg, rgba(238,238,238,1) 0%, rgba(49,54,63,1) 100%); */
  background: linear-gradient(135deg, rgba(44,54,57,1) 0%, rgba(63,78,79,1) 100%);
}

@media (max-width: 768px) {
  html, body{
    background: none;
    background-color:rgba(63,78,79,1);
  }
}

#__next {
  height: 100%;
  width: 100%;
}
