@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes sliderFade{
    from {
        /* opacity: 0;
        transform: translateY(50px); */
        margin-left: 100%;
        width: 300%;
    }
    to {
        /* opacity: 0.8;
        transform: translateY(0); */
        margin-left: 0%;
        width: 100%;
    }
}

.projectLayout{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease-out;
}

.projectMainLayout{
    width: 80%;
    min-height: 600px;
    display: flex;
    flex-direction: row;   
    align-items:center;
    /* align-items: center; */
    gap: 20px;
    /* background-color: green; */
}

.projDivider{
    border-color: #DCD7C9;
    border-width: 0.1px;
    height: 300px;
}

.slideShowLayout{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.slideShowContainer{
    max-width: 1000px;
    height: 300px;
    position: relative;
    margin: auto;
    align-items: center;
    overflow: hidden;
}
.slideShowContainer img{
    height: 250px;
}
.sliderCard{
    display: none;
    background-color: whitesmoke;
    border-radius: 10px;   
    padding: 10px; 
}
.sliderButtonContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.prev, .next{
    cursor: pointer;
    width: auto;
    padding: 16px;
    color: #DCD7C9;
    font-weight: bold;
    font-size: 18px;
    transition: 1s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.fade {
    animation: sliderFade 1s ease-out;
}

.sliderButton{
    text-transform: none;
    background-color:  #DCD7C9;
    color: #2C3639;
    border-radius: 10px;
    width: 300px;
}
.sliderButton:hover{
    color:  #DCD7C9;
    border: 1px solid #DCD7C9;
}

.projectTitleFonts{
    font-family: bold;
    color: #DCD7C9;
    font-size: x-large;
}
.projectDescFonts{
    font-family: regular;
    color: #DCD7C9;
    font-size: large;
}
.description{
    font-size:large;
    text-align: justify;
}

@media (max-width: 768px){
    .projectMainLayout{
        flex-direction: column-reverse; 
        min-height: 200px;
    }
    .projDivider{
        display: none;
    }
    .slideShowLayout{
        width: 100%;
    } 
}

@media (max-width: 425px){
    .projectDescFonts{
        font-size: medium;
    }
    .projectDescFonts.description{
        font-size:small;
    }
    .slideShowContainer{
        height: 180px;
    }
    .slideShowContainer img{
        height: 150px;
        max-width: 250px;
    }
    .projectLayout{
        height: auto;
        margin-top: 20px;
    }
}

  